# Python / OS
**/.DS_Store
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/venv/
**/data/

# Next.js / Node
**/node_modules/
**/.next/
**/out/
**/.turbo/

# Env files
**/.env
**/.env.*
